@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  color: #000;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}

.mt-100 {
  margin-top: 100px;
}

h3 {
  font-size: 45px;
  color: #000;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}

p {
  font-size: 18px;
  color: #000;
}

.h-250 {
  height: 250px;
}

.orange-bg {
  background-color: #eb8a51;
}

::-webkit-input-placeholder {
  color: gray !important;
}

::-moz-placeholder {
  color: gray !important;
}

:-ms-input-placeholder {
  color: gray !important;
}

::-ms-input-placeholder {
  color: gray !important;
}

::placeholder {
  color: gray !important;
}

.button-default, .orange-btn,
.orange-btn:hover, .green-btn,
.green-btn:hover {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.green-btn,
.green-btn:hover {
  background-color: #78ae9c;
}

.orange-btn,
.orange-btn:hover {
  background-color: #eb8a51;
}

.banner {
  width: 100%;
  height: 800px;
  background-image: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-position: 0 46.65%;
  background-size: 140%;
}
.banner .navbar-brand img {
  width: 65px;
}
.banner .nav-link {
  color: #fff;
}
.banner .nav-link.active {
  color: orange;
}
.banner p {
  font-size: 19px;
}
.banner h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 65px;
}

.assisting-clients-banner {
  background: url(../images/assisting-clients.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
  height: 500px;
  width: 100%;
  border-radius: 50px;
}

.client-details-banner {
  background: url(../images/client-details-img.jpg);
  background-repeat: no-repeat;
  background-position: 73.42% 50%;
  background-size: 180%;
  height: 426px;
  width: 100%;
  border-radius: 50px;
}

.advance-solution-logo {
  background: url(../images/advance-solution-logo.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 220%;
  height: 516px;
  width: 100%;
  border-radius: 50px;
}

.accordion-item {
  border: none;
}

.accordion-button {
  color: #78ae9c;
  font-weight: bold;
}

.accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #78ae9c;
}

.accordion-button:not(.collapsed) {
  background-color: unset;
}

.accordion-button::after {
  background-color: #eb8a51;
  color: #fff;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
  border-radius: 10px;
  background-size: 77%;
  background-position: center center;
}

.value-our-clients-section {
  background-color: #78ae9c;
}
.value-our-clients-section .value-our-clients-card .rounded-circle {
  width: 40px;
  height: 40px;
}

footer {
  padding: 4em 0;
  background-color: #293330;
}/*# sourceMappingURL=style.css.map */