.assisting-clients-banner{
    background: url(../images/assisting-clients.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    height: 500px;
    width: 100%;
    border-radius: 50px;
}