$white: #fff;
$black: #000;
$orange: #eb8a51;
$green: #78ae9c;
$dark_green: #293330;

$banner_font_size: 65px;
$headindFontSize: 45px;
$textFontSize: 18px;

$font_primary:  "Ubuntu", sans-serif;